@using BioEngine.Site.Components
@model BioEngine.Site.ViewModels.Games.GamePageViewModel
@inject UrlManager UrlManager
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/_Main.cshtml";
}
<div class="article__block">
    {% include 'b-breadcrumbs.twig' %}
    <article class="article">
        <header class="article__header">
            <div class="article__title-wrap">
                <h1 class="article__title">
                    @Html.Raw(Model.Game.Title)
                </h1>
            </div>
        </header>
        <div class="b-text">
            <h3>
                Информация
            </h3>

            <div class="game-info">
                <img src="@UrlManager.Games.LogoUrl(Model.Game)"
                     alt="@Model.Game.Title"
                     class="game-info__img"/>
                <table class="game-info__table">
                    <tr>
                        <td>Разработчик</td>
                        <td>@Model.Game.Developer.Name</td>
                    </tr>
                    <tr>
                        <td>Издатель</td>
                        <td>@Model.Game.Publisher</td>
                    </tr>
                    <tr>
                        <td>Локализатор</td>
                        <td>@Model.Game.Localizator</td>
                    </tr>
                    <tr>
                        <td>Платформы</td>
                        <td>@Model.Game.Platforms</td>
                    </tr>
                    <tr>
                        <td>Год издания</td>
                        <td>@Model.Game.ReleaseDate</td>
                    </tr>
                    <tr>
                        <td>Жанр</td>
                        <td>@Model.Game.Genre</td>
                    </tr>
                </table>
            </div>

            <h3>
                Об игре
            </h3>


            @Html.Raw(Model.Game.Desc)

            <div class="game-info__links-block">
                <div class="game-info__links">
                    <h3>Последние новости:</h3>
                    @foreach (var news in Model.LastNews)
                    {
                        <p>
                            <a href="@UrlManager.News.PublicUrl(news)">@news.Title</a>
                        </p>
                    }
                    <p class="game-info__all">
                        <a href="@UrlManager.Games.NewsUrl(Model.Game)">Все новости</a>
                    </p>
                </div>
                <div class="game-info__links">
                    <h3>Последние файлы:</h3>
                    @foreach (var file in Model.LastFiles)
                    {
                        <p>
                            <a href="@UrlManager.Files.PublicUrl(file)">@file.Title</a>
                        </p>
                    }
                    <p class="game-info__all">
                        <a href="@UrlManager.Games.NewsUrl(Model.Game)">Все файлы</a>
                    </p>
                </div>
            </div>

            <div class="game-info__links-block">
                <div class="game-info__links">
                    <h3>Последние статьи:</h3>
                    @foreach (var article in Model.LastArticles)
                    {
                        <p>
                            <a href="@UrlManager.Articles.PublicUrl(article)">@article.Title</a>
                        </p>
                    }
                    <p class="game-info__all">
                        <a href="@UrlManager.Games.ArticlesUrl(Model.Game)">Все статьи</a>
                    </p>
                </div>
                <div class="game-info__links">
                    <h3>Последнее в галерее:</h3>
                    <div>
                        @foreach (var picture in Model.LastPics)
                        {
                            <a href="@UrlManager.Gallery.PublicUrl(picture)#nanogallery/nanoGallery/0/@picture.Id">
                                <img src="{{ pic.getThumbUrl(115,115) }}"
                                     alt=""/>
                            </a>
                        }
                    </div>
                    <p class="game-info__all">
                        <a href="@UrlManager.Games.GalleryUrl(Model.Game)">Все картинки</a>
                    </p>
                </div>
            </div>

        </div>

        <footer class="article__footer">
            <div class="article__footer-controls">
                @Html.Partial("~/Views/Shared/Likes.cshtml", UrlManager.Games.PublicUrl(Model.Game))
            </div>
        </footer>
    </article>
</div>