@using System.Security.Claims
@using Microsoft.Extensions.Options
@using BioEngine.Site.Components

@inject IOptions<AppSettings> Settings

@if (User.Identity.IsAuthenticated)
{
    <div class="auth auth_sign-in">
        <a href="#">
            <span class="auth__userpic" style="background-image: url('@(User.Claims.FirstOrDefault(x => x.Type == "avatarUrl").Value)"></span>
        </a>
        <a class="auth__username @if (User.HasClaim(x => x.Type == "renegade"))
                                 {
                                     <text>auth__username-renegate</text>
                                 } "
           href="@(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Webpage).Value)">
            @User.Identity.Name</a>
        <a class="auth__exit" href="@Url.Action("Logout", "User")">Выход</a>
    </div>
}
else
{
    <div class="auth">
        <a href="@Url.Action("Login", "User")" class="auth__login">
            <span class="auth__text">Войти</span>
        </a>
        <a class="auth__reg" href="http://forum.bioware.ru/index.php?app=core&module=global&section=register">
            <span class="auth__text">Регистрация</span>
        </a>
    </div>
}