@using System.Threading.Tasks
@using BioEngine.Routing
@model BioEngine.Common.Models.ArticleCat
<div class="files__cat">
    <ul class="files__list">
        <li class="files__item">
            <h2 class="files__title">
                <a class="files__link" href="@Url.Articles().CatPublicUrl(Model)">@Html.Raw(Model.Title)</a>
            </h2>
            <ul class="files__list">
                @foreach (var article in Model.Items)
                {
                    <li class="files__item">
                        <a class="files__link"
                           href="@Url.Articles().PublicUrl(article)">
                            @Html.Raw(article.Title)
                        </a><br>
                        @Html.Raw(article.Announce)
                    </li>
                }
                @foreach (var child in Model.Children)
                {
                    @Html.Partial("ArticleCatPartial", child)
                }
            </ul>
        </li>
    </ul>
</div>