@using BioEngine.Site.Extensions
@using BioEngine.Site.ViewComponents
@model BioEngine.Site.ViewModels.BaseViewModel
@if (string.IsNullOrEmpty(Model.Title()))
{
    throw new ArgumentNullException(nameof(Model.Title));
}
<!DOCTYPE html>
<html>
<head lang="ru">
    @Html.Raw(Model.GetSettingValue("tagManagerHead"))
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.bioware.ru/news/rss.xml"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    @{
        var title = Html.Raw(Model.Title());
        var imageUrl = Html.Raw(Model.GetImageUrl());
        var description = Html.Raw(await Model.GetPageDescription());
    }

    <!-- Facebook Markup -->
    <meta property="og:title" content="@title"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="@imageUrl"/>
    <meta property="og:url" content="@Context.Request.AbsoluteUrl()"/>
    <meta property="og:description" content="@description"/>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@biowareru"/>
    <meta name="twitter:title" content="@title"/>
    <meta name="twitter:description" content="@description"/>
    <meta property="twitter:image:src" content="@imageUrl"/>

    <!-- G+ -->
    <meta itemprop="name" content="@title"/>
    <meta itemprop="description" content="@description"/>
    <meta itemprop="image" content="@imageUrl"/>

    <title>@title</title>
    <link rel="stylesheet" href="/css/style_@(Model.ThemeName).css?v=3"
          id="stylesheet"/>
    <script>
        window.twttr = (function (d, s, id) {
            var t = window.twttr || {};
            if (d.getElementById(id)) return t;
            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));
    </script>
</head>
<body class="body_anthem">
@Html.Raw(Model.GetSettingValue("tagManagerBody"))
<header class="header">
    <div class="header__content">
        <a href="/" class="header__logo-link">
            <img src="/img/header__logo.png" alt="logo"/>
        </a>
        <nav class="header__menu">
            @await Component.InvokeAsync("Menu", new {key = "index"})
        </nav>
    </div>
</header>
<!--slider-->
@(await Component.InvokeAsync<GamesCarouselViewComponent>())
<div class="page-layout">
    <main class="page-layout__content">
        @RenderBody()
    </main>
    <aside class="page-layout__sidebar">
        @await Html.PartialAsync("~/Views/Shared/Sidebar.cshtml")
    </aside>
</div>
<!--footer-->
<footer class="footer">
    <div class="footer__content">
        <a class="footer__logo" href="/">
            <img class="footer__logo-img" src="/img/footer__logo.png" alt="bioware.ru"/>
        </a>
        <div class="footer__copyright-text">
            При любом публичном использовании материалов сайта ссылка на <a href="/"
                                                                            class="link-on-dark">
                www.bioware.ru
            </a>
            обязательна. <br/>
            Полное копирование допускается не иначе как с письменного разрешения администрации.
        </div>
        <address class="footer__contacts">
            2005-@DateTime.Now.Year © <a class="link-on-dark" href="/">www.BioWare.ru</a>
            <br>
            <a href="mailto:bioteam@bioware.ru" class="link-on-dark">bioteam@bioware.ru</a>
        </address>
    </div>
</footer>
<div class="popup__wrp">
    <div class="popup">
        @using (Html.BeginForm("Login", "User", FormMethod.Post, new Dictionary<string, object> {{"class", "popup__login-form"}}))
        {
            <input class="popup__text-input" type="text" name="login" placeholder="Логин" required>
            <input class="popup__text-input" type="password" name="password" placeholder="Пароль" required>
            <button class="popup__button">Войти</button>
            <div class="popup__error"></div>
        }
    </div>
</div>
<script src="~/js/script.min.js"></script>
@Html.Raw(Model.GetSettingValue("counters"))
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
</body>
</html>
