@using System.Globalization
@using BioEngine.Data.Base
@using BioEngine.Common.Interfaces
@using BioEngine.Routing
@using BioEngine.Site.Extensions
@using BioEngine.Site.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ParentEntityProvider ParentEntityProvider
@inject IContentHelperInterface ContentHelper
@model BioEngine.Site.ViewModels.News.ShowNewsViewModel

<article class="@(!Model.ShowFull ? "article-list__item" : "article")">
    <header class="article-list__header">
        <div class="article-list__title-wrap">
            <h2 class="article-list__title">
                @if (Model.ShowFull)
                {
                    if (Model.News.Sticky > 0)
                    {
                        <text>Важно!&nbsp;</text>
                    }
                    @Html.Raw(Model.News.Title)
                }
                else
                {
                    <a class="article-list__permalink" href="@Model.NewsUrl">
                        @if (Model.News.Sticky > 0)
                        {
                            <text>Важно!&nbsp;</text>
                        }
                        @Html.Raw(Model.News.Title)
                        @if (Model.News.Pub != 1)
                        {
                            <text>&nbsp;(Неопубликовано)</text>
                        }
                    </a>
                }

            </h2>
            <time class="article-list__date"
                  datetime="@Model.Date.DateTime.ToString("yyyy-MM-dd hh:mm:ss")">
                @Model.Date.DateTime.ToString("dd.MM.yyyy HH:mm:ss", CultureInfo.InvariantCulture),&nbsp;@Model.News.Author.Name</time>
        </div>
        @Html.Partial("~/Views/Shared/ParentHeader.cshtml", new ParentHeaderViewModel(Model.News.Parent, x => Url.News().ParentNewsUrl(Model.News), x => Url.Base().ParentIconUrl(Model.News)))
    </header>

    <div class="b-text">
        @Html.Raw(await ContentHelper.ReplacePlaceholdersAsync(Model.News.ShortText))
        @if (Model.ShowFull)
        {
            @Html.Raw(await ContentHelper.ReplacePlaceholdersAsync(Model.News.AddText))
        }
    </div>


    <footer class="article-list__footer">
        @if (Model.News.HasMore && !Model.ShowFull)
        {
            <a class="article-list__morelink" href="@Model.NewsUrl">Подробнее</a>
        }

        <div class="article-list__footer-controls">
            @Html.Partial("~/Views/Shared/Likes.cshtml", new YaShareViewModel(Model.NewsUrl, Model.Description, Model.Image, Model.News.Title))
            <a class="article-list__comments" href="@Model.CommentsUrl">@Html.Raw(Localizer.Plural("Comments", Model.News.Comments))</a>
        </div>
    </footer>
</article>