@using System.Globalization
@using System.Threading.Tasks
@using BioEngine.Common.Helpers
@using BioEngine.Site.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model BioEngine.Site.ViewModels.News.ShowNewsViewModel

<article class="@(!Model.ShowFull?"article-list__item":"article")">
    <header class="article-list__header">
        <div class="article-list__title-wrap">
            <h2 class="article-list__title">
                @if (Model.ShowFull)
                {
                    if (Model.News.Sticky > 0)
                    {
                        <text>Важно!</text>
                    }
                    @Html.Raw(Model.News.Title)
                }
                else
                {
                    <a class="article-list__permalink" href="@Model.NewsUrl">
                        @if (Model.News.Sticky > 0)
                        {
                            <text>Важно!</text>
                        }
                        @Html.Raw(Model.News.Title)
                        @if (Model.News.Pub != 1)
                        {
                            <text>(Неопубликовано)</text>
                        }
                    </a>
                }

            </h2>
            <time class="article-list__date"
                  datetime="@Model.Date.DateTime.ToString("yyyy-MM-dd hh:mm:ss")">
                @Model.Date.DateTime.ToString("dd.MM.yyyy HH:mm:ss",CultureInfo.InvariantCulture),&nbsp;@Model.News.Author.Name</time>
            </div>
            <a class="article-list__title-image" href="@Model.ParentNewsUrl"
               title="@Model.News.Parent.DisplayTitle">
                <img src="@Model.ParentIconUrl"
                     alt="@Model.News.Parent.DisplayTitle">
            </a>
        </header>

        <div class="b-text">
            @Html.Raw(ContentHelper.ReplacePlaceholders(Model.News.ShortText))
            @if (Model.ShowFull)
            {
                @Html.Raw(ContentHelper.ReplacePlaceholders(Model.News.AddText))
            }
        </div>


        <footer class="article-list__footer">
            @if (Model.News.HasMore && !Model.ShowFull)
            {
                <a class="article-list__morelink" href="@Model.NewsUrl">Подробнее</a>
            }

            <div class="article-list__footer-controls">
                @Html.Partial("~/Views/Shared/Likes.cshtml", Model.NewsUrl)
                <a class="article-list__comments" href="@Model.CommentsUrl">@(Localizer.Plural("Comments", Model.News.Comments))</a>
            </div>
        </footer>
    </article>